<div class="order-wrapper">
  <h2 class="heading">Order Management Dashboard</h2>

  <div class="filter-bar">
    <label for="statusFilter">Filter by status:</label>
    <select
      name="statusFilter"
      id="statusFilter"
      [(ngModel)]="filterStatus"
      (change)="filterOrder()"
    >
      <option value="">All</option>
      <option value="placed">Placed</option>
      <option value="processing">Processing</option>
      <option value="On the way">On The Way</option>
      <option value="Delivered">Delivered</option>
    </select>
  </div>

  <div class="order-container">
    <div class="order-card" *ngFor="let order of filteredOrders">
      <div class="order-header">
        <p class="order-id">order --{{ order.id }}</p>
        <p class="order-date">{{ order.date | date : "meduimDate" }}</p>
      </div>
      <div class="order-info">
        <p><span class="label">Product:</span>{{ order.prodName }}</p>
        <p><span class="label">Quantity:</span>{{ order.amount }}</p>
        <p><span class="label">Customer:</span>{{ order.customerName }}</p>
        <p><span class="label">Total Price:</span>{{ order.total }}</p>
        <p>
          <span class="label">current status:</span>
          <span class="{{ order.status | lowercase }}"
            >{{ order.status }}
          </span>
        </p>
        <div class="progress-bar">
          <div class="progress" [ngClass]="order.status.toLowerCase"></div>
        </div>
      </div>



      <button class="toggle-details" (click)="order.showDetails=!order.showDetails">
        {{order.showDetails?'HideDetails':'ViewDetails'}}
      </button>


      <div class="extra-info" *ngIf="order.showDetails">
        <p><span class="label"> shipping Address:</span> {{order.address||'NA'}}</p>
        <p><span class="label"> Contact:</span> {{order.phone||'NA'}}</p>
        <!-- <p><span class="label"> ETA:</span> {{order.eta||'3-5 days'}}</p> -->

      </div>

      <div class="order-control">
        <label for="status"m class="drop-down"> Update status:</label>
        <select name="" [id]="'status-'+order.id"
        [(ngModel)]="order.status"
        required class="dropdown">
        <option value="" disabled> select</option>
<option value="Processing">Processing</option>
<option value="placed">Placed</option>
<option value="On the way">On The Way</option>
<option value="Delivered">Delivered</option>

    </select>
    <textarea name="" id="" 
    [(ngModel)]="order.notes"
    placeholder="add delivery notes"  class="notes-input">
</textarea>
<div class="btn-group">
    <button class="btn btn-primary" (click)="changeOrderStatus(order.id,order)">update order</button>
    <button class="btn btn-danger" (click)="removeOrder(order.id)">Delete</button>
</div>
      </div>
    </div>
  </div>
</div>
