
<div><app-loading *ngIf="isLoading"></app-loading></div>
<div class="form-container"  *ngIf="!isLoading">
    <form #formContainer="ngForm" (ngSubmit)="onSubmit()" class="register-form">
        <h1 class="app-title"> e-Commerce App</h1>
        <h3 class="form-subtitle">Register</h3>
        <div *ngIf="errorMessage">
        <p> {{errorMessage}} </p>
        </div>

        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email"
          name="email"fire
            placeholder="Enter Your Email"
            [(ngModel)]="userInput.email"
            #email="ngModel"
            required
            class="form-control">
            <p class="error-msg" *ngIf="email.touched&&email.invalid">Email is required</p>
        
        </div>
<!-- //pasword -->
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password"
           name="password"
            placeholder="Enter Your password"
            [(ngModel)]="userInput.password"
            #password="ngModel"
            required
            minlength="6"
            class="form-control">
            <p class="error-msg" *ngIf="password.touched&&password.invalid">Password is required</p>
        
        </div>

        <div class="form-group">
            <label for="type" class="form-label">User Type</label>
           <select name="type"
            id="type"
        required
        [(ngModel)]="userInput.type"
        #type="ngModel"
        class="form-control select-input"
             >
            <option value="" selected disabled hidden> select user type</option>
            <option value="user">User</option>
            <option value="admin">Admin</option>
            </select>
            <p class="error-msg" *ngIf="type.touched&&type.invalid">User Type is required</p>
        
        </div>

        <button type="submit" [disabled]="formContainer.invalid" class="btn">Register Now</button>
        <p class="sigup-link">Already Have an account?</p>
        <span (click)="onGoToLogin()" class="signup-text" style="cursor: pointer;">Login </span>
    </form>
</div>
