<div><app-loading *ngIf="isLoading"></app-loading></div>
<div class="admin-wrapper" *ngIf="!isLoading">
  <form #formContainer="ngForm" (ngSubmit)="onSubmit()" class="admin-form">
    <h2 class="form-title">Complete Your Profile</h2>

    <!-- name -->
    <div class="form-group">
      <label for="name">Full Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        [(ngModel)]="userInput.name"
        #name="ngModel"
        class="form-control"
        placeholder="Enter Your name"
      />
      <p class="error-msg" *ngIf="name.touched && name.invalid">
        Please Enter Valid Name
      </p>
    </div>

    <!-- adresss -->
    <div class="form-group">
      <label for="address" class="form-label">Address</label>
      <input
        type="address"
        name="address"
        placeholder="Enter Your Address"
        [(ngModel)]="userInput.address"
        #address="ngModel"
        required
        placeholder="Enter Your Address"
        class="form-control"
      />
      <p class="error-msg" *ngIf="address.touched && address.invalid">
        Enter a valid Address
      </p>
    </div>

    <!-- pincode..... -->
    <div class="form-group">
      <label for="pincode" class="form-label">Pincode</label>
      <input
        type="text"
        name="pincode"
        placeholder="Enter Your Pincode"
        [(ngModel)]="userInput.pincode"
        #pincode="ngModel"
        required
        minlength="6"
        placeholder="Enter min 6-digit pincode"
        class="form-control"
      />
      <p class="error-msg" *ngIf="pincode.touched && pincode.invalid">
        Enter a valid Pincode
      </p>
    </div>
    <!-- phone no  -->
    <div class="form-group">
      <label for="phone" class="form-label">Phone No:</label>
      <input
        type="text"
        name="phone"
        placeholder="Enter Your phone no."
        [(ngModel)]="userInput.phone"
        #phone="ngModel"
        required
        minlength="10"
        maxlength="10"
        placeholder="Enter min 6-digit phone"
        class="form-control"
      />
      <p class="error-msg" *ngIf="phone.touched && phone.invalid">
        Enter a valid phone no.
      </p>
    </div>
    <button type="submit" [disabled]="formContainer.invalid">
      Save Profile
    </button>
  </form>
</div>
